<div class="campus-screen-layout">
	<div class="screen-header">
		<div class="col col1 logo">{{ content.logo }}</div>
                <div class="col col2 titlename">{{ content.name }}</div>
		<div class="col col3 time">{{ content.time }}</div>
	</div>

	<div class="screen-content">
		<div class="slideshow">{{ content.slideshow }}</div>
		<div class="sidebar">{{ content.sidebar }}</div>
	</div>

	<div class="screen-bottom">
		<div class="bottom">{{ content.bottom }}</div>
	</div>
</div>
